body{
    background-color: #EAF6F6;
}
hr{
   border-style: none;
   border-top:dotted ;
   width: 4%;
   color: grey;
}
h1,h3{
    color: #66BFBF;
}
h4{
    color: #66BFBF;
}
img{
    background-color: black;
}
#photo{
    border-radius: 50%;
}
#photo:hover{
    border-radius: 0%;
}